<%- include('templates/header', {titulo: 'Inicio'})  %>

    <h2>Shi</h2>


        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus blanditiis nostrum possimus corporis dolor totam saepe repellat? Sequi, tenetur aspernatur eaque suscipit omnis nostrum tempora incidunt laudantium quidem illum distinctio.
<%- include('templates/footer')  %>